<h3> Detalle mercancia</h3>
<div>
    <div>
        <label> <b> Nombre producto: </b></label> {{employee.nombreProducto}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{employee.emailId}}
    </div>
    <div>
        <label> <b> Cantidad: </b></label> {{employee.cantidad}}
    </div>
    <div>
        <label> <b> fecha Ingreso: </b></label> {{employee.fechaIngreso}}
    </div>
    <div>
        <label> <b> fecha Actual: </b></label> {{employee.fechaActual}}
    </div>
    <div>
        <label> <b> usuario Registro: </b></label> {{employee.usuarioRegistro}}
    </div>
</div>